<!DOCTYPE html>
{% load static %}

<html lang="en" ng-app="ngTest" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ngTest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{% static 'app/lib/jasmine/lib/jasmine-2.1.2/jasmine_favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/lib/jasmine/lib/jasmine-2.1.2/jasmine.css' %}">

    <script type="text/javascript" src="{% static 'app/lib/jasmine/lib/jasmine-2.1.2/jasmine.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/lib/jasmine/lib/jasmine-2.1.2/jasmine-html.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/lib/jasmine/lib/jasmine-2.1.2/boot.js' %}"></script>

    <link rel="stylesheet/less" type="text/css" href="{% static 'app/css/styles.less' %}" />

    <script>
    less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "комментарий",
        relativeUrls: false,
        rootpath: "css/"
    };
    </script>

    <script src="{% static 'app/lib/less-1.7.3.min.js' %}"></script>

    <script src="{% static 'app/lib/angular/angular.js' %}"></script>
    <script src="{% static 'app/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'app/lib/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'app/lib/angular-mocks/angular-mocks.js' %}"></script>

    <script src="{% static 'app/js/utils.js' %}"></script>
    <script src="{% static 'app/js/app.js' %}"></script>
    <script src="{% static 'app/js/services.js' %}"></script>
    <script src="{% static 'app/js/controllers.js' %}"></script>
    <script src="{% static 'app/js/filters.js' %}"></script>
    <script src="{% static 'app/js/directives.js' %}"></script>

</head>
<body>




</body>
</html>
